.products-grid {
  position: relative;
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2rem;
  gap: 2rem;
}

.searched-products {
  margin-bottom: 30px;
}
